@use 'variaveis';

.footer {
    padding: 26px 8px;

    &__container { /* todo o conteudo do rodape dentro desse container*/
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 23px;
    }

    &__logo {
        width: 80px;
        margin: 0 auto 10px;
    }

    &__links {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        
        &__item {
            display: inline-block;

            a {
                text-decoration: none;
                padding: 8px 16px;
                display: block;

                &:hover {
                    color: variaveis.$corTextoSecundario;
                }
            }
        }
    }


    p {
        margin-bottom: 16px;
    }
}


.language-selector {
    display: flex; /* alinhar com a vertical */
    align-items: center;

    img {  /* globo do mundo */
        height: 18px; /* por se tratar de um circulo, mesma altura e diametro*/
        width: 18px;
    }
    select {
        background-color: transparent;
        border: none;
        color: variaveis.$corTextoPrincipal;
        height: 38px;

        &:hover {
            color: variaveis.$corTextoSecundario;
        }
        option { /*dentro da caixinha do option que escolhe port ou eng */
            color: variaveis.$corDeFundo;
        }
    }
}
